<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="__CSS__/bootstrap.css">
    <link rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="__CSS__/custom.css">
    <!--    <link rel="stylesheet" href="css/page.css">-->
    <script src="__JS__/jquery-1.9.1.js"></script>
    <script src="__JS__/bootstrap.js"></script>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">

        {include file="common/leftCol" /}
        {include file="common/nav" /}
        {__CONTENT__}
        {include file="common/footer" /}
    </div>
</div>

<!--{block name=""}-->
<!--{/block}-->
<!--{extend /}-->
</body>
</html>