<div class="right_col" role="main" style="height: 0;padding-bottom: 100%">
    <p style="color: red">__URL__</p>
    <p style="color: red">__JS__</p>
    <p style="color: red">__CSS__</p>
    <p style="color: red">__STATIC__</p>
    <p style="color: red">com</p>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        window.onload = function () {
            $("#company_list").addClass("active");
        }

        $(".deleteRow").click(function () {
            var x = $(this).parent().parent().children().eq(0).text();
            var isDelete = confirm("确认删除？");
            if (isDelete){
                var tr = this.parentNode.parentNode;
                tr.remove();
                $.ajax({
                    type: 'POST',
                    url: 'company_list.php',
                    async: true,
                    data: "company_id=" + x,
                })
            }
        })
    })
</script>